<header {% if config.extra.blur_effect %} class="blur" {% endif %}>
  <div id="header-wrapper">
    <nav>
      <a href="/">{{ config.extra.blog_name }}</a>
      <span class="separator">{{ config.extra.nav_separator }}</span>
      {% if current_path is starting_with("/tags") %}
        <a href="/recipes">Recipes</a>
        <span class="separator">{{ config.extra.nav_separator }}</span>
        <span>By Tag</span>
      {% elif current_path is starting_with("/recipes") %}
        <a href="/recipes">Recipes</a>
        {% if section.title and section.path != "/recipes" and current_path != "/recipes/" %}
          <span class="separator">{{ config.extra.nav_separator }}</span>
          <span>{{ section.title }}</span>
        {% elif page.title and current_path != "/recipes/" %}
          <span class="separator">{{ config.extra.nav_separator }}</span>
          <span>{{ page.title }}</span>
        {% endif %}
      {% else %}
        {% set site_sections = config.extra.sections | filter(attribute="is_external", value=false) %}
        {% for section in site_sections %}
          <a href="{{ section.path }}">{{ section.name }}</a>
          {% if not loop.last %}
            <span class="separator">{{ config.extra.nav_separator }}</span>
          {% endif %}
        {% endfor %}
      {% endif %}
    </nav>
    <div id="btns">
      {% if config.extra.blog_section_path is defined %}
      {% set blog_section_path = config.extra.blog_section_path %}
      {% endif %}

      {% if blog_section_path is defined and section.path is starting_with(blog_section_path) %}
      {% set rss_icon = load_data(path="static/icon/rss.svg") %}
      {% if section.generate_feed -%}
      <a href="{{ blog_section_path }}/{{ config.feed_filenames }}" aria-label="rss feed">{{ rss_icon | safe }}</a>
      {% elif config.generate_feed -%}
      <a href="/{{ config.feed_filenames }}" aria-label="rss feed">{{ rss_icon | safe }}</a>
      {% endif %}
      {% endif %}

      {% for link in config.extra.links -%}
      <a href="{{ link.url }}" aria-label="{{ link.name }}" target="_blank" rel='noreferrer noopener'>
        {% set icon_path = "static/icon/" ~ link.icon ~ ".svg" %}
        {% set icon = load_data(path=icon_path) %}
        {{ icon | safe }}
      </a>
      {% endfor %}

      {% set moon_icon = load_data(path="static/icon/moon.svg") %}
      {% set sun_icon = load_data(path="static/icon/sun.svg") %}
      <button id="theme-toggle" aria-label="theme switch" data-moon-icon="{{ moon_icon }}" data-sun-icon="{{ sun_icon }}">
        {{ moon_icon | safe }}
      </button>

      {% if blog_section_path is defined and section.path is starting_with(blog_section_path) %}
      {% set toc_icon = load_data(path="static/icon/toc.svg") %}
      {% if page.extra.toc is defined %}{% set show_toc = page.extra.toc %}{% else %}{% set show_toc = config.extra.toc %}{% endif %}
      {% if show_toc and page %}
      <button id="toc-toggle" aria-label="table of content">
        {{ toc_icon | safe }}
      </button>
      {% endif %}
      {% endif %}
    </div>
  </div>
</header>